.note {
    background-color: #00a194;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

button.mat-raised-button {
    display: inline-block;
    width: 80px;
}

.button-container {
    width: 80px;
    /* Adjust as needed */
    height: 80px;
    /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}